@import 'vars';
@import 'fonts';
@import 'global';

.header__inner {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header__logo {
  margin-left: 103px;
}
.header__list {
  display: flex;
  @extend %r-italic;
  font-style: italic;
  font-size: 16px;
  padding-left: 0px;
  align-items: center;
  max-width: 740px;
  margin-left: 100px;
  &-item {
    display: flex;
    max-width: 256px;
  }
  &-icon {
    align-self: center;
    margin-top: -7px;
  }
  &-text {
    padding-left: 20px;
  }
}

.order-info {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__images {
    max-width: 470px;
    position: relative;
  }
  &__treatment {
    max-width: 29%;
    margin-top: 124px;
  }
  &__title {
    @extend %r-black;
    font-size: 44px;
    color: rgb(56, 51, 52);
    line-height: 1.1;
    span {
      font-size: 31px;
    }
  }
  .image__price-orange {
    position: absolute;
    background-color: #ff6b00;
    z-index: 10;
    top: 476px;
    left: 179px;
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 5px 10px;
  }
  .image__price-green {
    position: absolute;
    background-color: #a8ca3f;
    z-index: 10;
    top: 605px;
    left: 286px;
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 5px 10px;
  }
  &__list {
    @extend %r-regular;
    font-size: 20px;
    position: relative;
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 37px;
      .marker {
        @extend %r-bold;
        font-size: 20px;
        color: #fff;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 6px solid #e8edc9;
        background-color: #a7c93d;
        flex-shrink: 0;
        margin-left: -50px;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}
.order-info__list::before {
  content: url(../images/gray-arrow.svg);
  position: absolute;
  top: 70px;
  left: -25px;
}
.bold {
  @extend %r-bold;
  color: #000;
}
.orange-line {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ff6b00;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
  }
}
.orange-line-small {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ff6b00;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
  }
}
.green-line {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #a7c93d;
    position: absolute;
    bottom: 2px;
    right: 0;
    z-index: -1;
  }
}
.green-line-small {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #a7c93d;
    position: absolute;
    bottom: 0%;
    right: 0;
    z-index: -1;
  }
}
.legs {
  margin-left: -373px;
}
.box-pills {
  margin-top: -90px;
  margin-left: -158px;
}
.make-order__form {
  max-width: 25%;
  max-height: 100%;
  margin-top: 100px;
  margin-left: 40px;
  background-image: url(../images/bg-smartfone.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .free-shipping {
    display: flex;
    align-items: center;
    margin-top: 5px;
    &__icon {
      align-self: center;
      margin-top: -3px;
    }
    &__text {
      font-size: 16px;
      color: #444444;
      margin-left: 5px;
    }
  }
}
.make-order__text {
  color: #000;
  font-size: 21px;
  text-align: center;
  padding: 30px 33px 0px 33px;
  width: 90%;
}
.color-orange {
  color: #ff6b00;
}
.price-wrapper {
  display: flex;
}
.price-wrapper-text {
  padding: 12px;
  font-size: 14px;
  .make-order__new-price {
    padding-left: 7px;
  }
  .make-order__old-price {
    padding-right: 7px;
    margin-right: 18px;
  }
}
.price-wrapper-digit {
  font-size: 34px;
}
.old-price {
  margin-right: 30px;
  padding-left: 7px;
  position: relative;
  &::before {
    content: '';
    width: 80px;
    height: 2px;
    background-color: tomato;
    position: absolute;
    transform: rotate(17deg);
    bottom: 53%;
  }
  &::after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: tomato;
    position: absolute;
    transform: rotate(-17deg);
    bottom: 53%;
    right: 0%;
  }
}
.new-price {
  padding: 3px 10px 3px 10px;
  padding-right: 6px;
  border-radius: 7px;
  background-color: #ffc002;
  position: relative;
  &::before {
    content: url(../images/orange-arrow.png);
    position: absolute;
    top: 35%;
    right: -62%;
  }
}
.old-price {
  padding: 3px 10px 3px 10px;
}
.order__form {
  margin-top: 14px;
  margin-left: 30px;
  .input__item {
    width: 90%;
    height: 65px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    padding-left: 60px;
    font-size: 16px;
    color: #666666;
  }
  .input__item-name {
    background: url(../images/name-icon.png) no-repeat 10% 50%;
    background-color: #eef2f7;
  }
  .input__item-phone {
    background: url(../images/phone-icon.png) no-repeat 10% 50%;
    background-color: #eef2f7;
  }
  .button {
    @extend %r-bold;
    background-color: #ffc002;
    width: 90%;
    height: 65px;
    border-radius: 30px;
    padding: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    line-height: 0.786;
    text-align: center;
    border: none;
    position: relative;
    .discount-small-text {
      display: block;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}
.button::after {
  content: '';
  width: 90%;
  height: 52px;
  border-radius: 30px;
  border: 1px solid #fff4d4;
  position: absolute;
  left: 5%;
  top: 9%;
  opacity: 0.3;
}
.make-order__text-phone {
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .green-ten {
    color: #a7c93d;
  }
}
.protection {
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  &__text {
    font-size: 14px;
    margin-left: 5px;
  }
  &__icon {
    align-self: center;
    margin-top: -3px;
  }
}
.fungus {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
  }
  &__title {
    @extend %r-black;
    font-size: 48px;
    color: #383334;
    margin-top: 30px;
  }
  &__text {
    font-size: 24px;
    margin-top: 50px;
  }
}
.symptoms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  &__title {
    max-width: 140px;
    font-size: 22px;
    padding-left: 18px;
  }
  &__text {
    max-width: 310px;
    font-size: 18px;
    padding-top: 22px;
  }
}
.wrapper__symptoms {
  position: relative;
  display: flex;
  align-items: center;
  .number {
    position: absolute;
    top: 21px;
    right: 157px;
    color: #fff;
    font-size: 30px;
  }
}
.line {
  width: 50px;
  height: 4px;
  background-color: #becbd8;
  margin-top: 25px;
}
.statistics {
  border: 3px solid #f4d3bb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  position: relative;
  margin-bottom: 20px;

  &__text {
    padding: 30px 60px 25px 100px;
    font-size: 22px;
    text-align: center;
  }
  &__wrapper-image {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #fff;
    top: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@import 'media';
